footer {
    background-color: var(--thirdary-colour);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

footer * {
    background-color: var(--thirdary-colour);
    color: white;
}