html {
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;

    align-items: stretch;

    background-color: var(--primary-colour);
    color: var(--primary-text-colour);

    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.title {
    padding-left: 10%;
}

hr {
    margin-left: 9%;
    margin-right: 7%;
}

body{
    width: 100%;
    min-height: 100vh;
}

main{
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 80vh;
}

.chapter {
    background-color: var(--primary-colour);
    margin: 0 auto;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-colour);
    border-radius: 10px;
    padding: 10px;
}

.chapter * {
    background-color: var(--primary-colour);
}

.container {
    margin: 0 auto;
    width: 33%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-colour);
    border-radius: 10px;
    padding: 10px;
}

.inner_container {
    padding: 10px 7.5% 10px 7.5%;
}

#inner_cancel_booking_container {
    display: flex;
    flex-direction: column;
}

main div {
    display: grid;
    place-items: center center;
    grid-gap: 30px;
    margin: auto;
}

img {
    max-width: 100%;
    border-radius: 15px;

    object-fit: cover;
}